<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Learn.</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<th:block th:replace="user_fragments :: user_id"></th:block>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Learn.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<a class="dropdown-item" href="/logout">Đăng xuất</a>
				</form>
			</div>
		</nav>
		<input type="hidden" id="examId" name="examId" th:value="${examId}" />
		<div class="card">
			<div class="card-description" style="display: inline;">
				<div style="float: right;">
					<div class="form-control">
						<span id="time">20:00</span>
					</div>
				</div>
			</div>
			<div class="card-body"></div>
			<button type="submit" class="btn btn-primary btn-md" id="saveAndNext"
				style="width: 200px; margin-left: 10px; margin-bottom: 10px">Lưu
				bài thi</button>
		</div>
	</div>
	<div th:replace="user_fragments :: user_script"></div>
	<script>
		var answerArr = [];
		function startTimer(duration, display) {
			var timer = duration, minutes, seconds;
			var clock = setInterval(function() {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.textContent = minutes + ":" + seconds;

				if (--timer < 0) {
					clearInterval(clock);
					endExam(answerArr);
					alert("Hết giờ làm bài");
				}
			}, 1000);
		}
		
		function endExam(answerArr){
			var examId = $("#examId").val();
			stringUrl = "http://localhost:8080/api/quest/answer/"+examId;
			$.ajax({
				method:"POST",
				data: JSON.stringify(answerArr),
				url: stringUrl,
				headers : {
					'Accept' : "application/json",
					'Content-Type' : "application/json"
				}
			}).done(function (res){
				console.log(res);
				var result = res.isPassed?"qua":"trượt";
				if(confirm("Bạn đã "+result+" bài thi với "+res.earnedMark +" điểm")){
					location.href = "http://localhost:8080";
				}else{
					location.href = "http://localhost:8080";
				}
			})
		}

		function loadOneQuestion(id){
			var examId = $("#examId").val();
			var qid ;
			if (id != null && id > 0) {
				qid = id;
			}else{
				qid = $("#qid").val();
				if(qid == null){qid = 0;}
			}
			stringUrl = "http://localhost:8080/api/quest/list/"+examId+"/"+qid;
			$.ajax({
				method:"GET",
				url : stringUrl,
				success : function(res){
					var block= "<fieldset class=\"form-group\">"+
						"<legend>Câu hỏi : "+ res.question+" ("+res.questMark+" đ)</legend>"+
						"<input type=\"hidden\" name=\"qid\" id=\"qid\" value=\""+res.quest_Id+"\">"+
						"<input type=\"hidden\" name=\"last\" id=\"last\" value=\""+res.last+"\">"+
						"<div class=\"row\">" +
							"<div class=\"col-sm-10\">"+
								"<div class=\"form-check\">"+
									"<input class=\"form-check-input\" type=\"radio\" name=\"optionAnswer\" id=\"option1\" value=\""+res.option1+"\">"+
									"<label class=\"form-check-label\" for=\"option1\"> "+res.option1+" </label>"+
								"</div>"+
								"<div class=\"form-check\">"+
								"<input class=\"form-check-input\" type=\"radio\" name=\"optionAnswer\" id=\"option2\" value=\""+res.option1+"\">"+
								"<label class=\"form-check-label\" for=\"option2\"> "+res.option2+" </label>"+
							"</div>"+
							"<div class=\"form-check\">"+
							"<input class=\"form-check-input\" type=\"radio\" name=\"optionAnswer\" id=\"option3\" value=\""+res.option1+"\">"+
							"<label class=\"form-check-label\" for=\"option3\"> "+res.option3+" </label>"+
						"</div>"+
							"<div class=\"form-check\">"+
							"<input class=\"form-check-input\" type=\"radio\" name=\"optionAnswer\" id=\"option4\" value=\""+res.option1+"\">"+
							"<label class=\"form-check-label\" for=\"option4\"> "+res.option4+" </label>"+
						"</div></div></div></fieldset>";
					$(".card-body").html(block);
				}
			})
		}
		
		$(document).ready(function(){
			var timeCount = 60 * 20, display = document.querySelector('#time');
			startTimer(timeCount, display);
			loadOneQuestion();
			$(document).on("click","#saveAndNext",function(e){
				var id = $("#qid").val();
				var last = $("#last").val();
				var data = {
						quest_Id : $("#qid").val(),
						answer : $("input[name='optionAnswer']:checked").val()
					};
				answerArr.push(data);
				if (last == "false") {
						loadOneQuestion(id);
				}else{
					endExam(answerArr);
				}
				
			})
		})
	</script>
</body>
</html>